.weather_favorite-cities 
    .added-locations 
        h1 Added locations:
    ul.weather_cities-list 
        template#weather_cities-template
            li.cities-list_button
                button(type='button').added-city 
                button(type='button').remove 
        